@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-bg dark:bg-darkBg;
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
@keyframes walk-right {
  0% {
    transform: translateX(-90vw) scaleX(1); /* Mulai dari luar layar kiri, menghadap kanan */
  }
  100% {
    transform: translateX(100vw) scaleX(1); /* Ke luar layar kanan, tetap menghadap kanan */
  }
}

@keyframes walk-left {
  0% {
    transform: translateX(100vw) scaleX(-1); /* Mulai dari luar layar kanan, menghadap kiri */
  }
  100% {
    transform: translateX(-90vw) scaleX(-1); /* Ke luar layar kiri, tetap menghadap kiri */
  }
}

/* Animasi untuk hewan yang bergerak ke kanan */
.animate-walk-right {
  animation: walk-right 20s linear infinite; /* Ganti durasi sesuai kebutuhan */
}

/* Animasi untuk hewan yang bergerak ke kiri */
.animate-walk-left {
  animation: walk-left 20s linear infinite; /* Ganti durasi sesuai kebutuhan */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s steps(2, start) infinite;
  color: #155e95; /* Warna kuning */
  font-weight: bold; /* Membuat lebih tebal */
}
